.icon {
  margin-top: 10px;
  margin-bottom: 10px;
  transform: translateY(0px);
  transition: 250ms ease-out;
  color: white;  
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: var(--dark-neon);
  padding: 10px;
}

.icon:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 20px;
}

@media (min-width: 40em) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 2rem;
    padding: 1.5rem;
    position: fixed;
    bottom: 0;
  }
}
