.icon{ 
    margin-top: 10px;
    margin-bottom: 10px;
    transform: translateY(0px);
    transition: 250ms ease-out;
}

.icon:hover{
    background-color: #16dbff;
    transform: translateY(-10px);
    cursor: pointer;
}

.container{ 
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 2rem;
    padding: 1.5rem;
    position: fixed;
    bottom: 0;
}