.button{  
    letter-spacing: 2px;
    padding: 1.5rem 0rem;
    margin: 1.5rem 0rem;
}

.button > span {
    font-family: var(--secondary-text);
    padding: 1rem;
    color: var(--dark-theme);
    background-color: var(--dark-neon);
    border-radius: 2px;

}


.button > span:hover{
    transition: 0.5s;
    cursor: pointer;
    background-color: var(--alternative-neon);
}

/* #dark .button > span:hover{
    transition: 0.5s;
    cursor: pointer;
    color: white;
    background-color: var(--dark-neon);
} */


.container{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    margin: auto;
    padding-top: 6rem;
    padding-bottom: 3rem;
}


.intro{
    font-family: var(--secondary-text);
    color: var(--dark-neon);
    background-color: transparent;
    font-size: 20px;
}


.tag{ 
    font-size: 68px;
    padding: 1rem 0rem;
    color: var(--dark-neon);
}


.justin{
    font-size: 3.75rem;
    padding: 1rem 0rem;
}

#light .justin{ 
    color: var(--dark-theme);
}

.desc{
    width: 60%;
    line-height: 1.6;
    margin: 0;
    padding-bottom: 1rem;
}

@media (max-width: 40em){
    .tag{ 
        font-size: 32px;
    }

    .justin{
        font-size: 32px;
    }

    .container{
        width: 80%;
    }

    .desc{
        width: 80%;
    }
}
